<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.PrestoRapido" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PrestoRapido</name>
    <description>
        App de prestamos
    </description>
    <author email="soporte@gruposhock.com" href="http://gruposhock.com.com">
        GS Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
